@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary: rgb(212, 110, 127);
  --light:rgb(243, 222, 226);
  --dark:rgb(110, 25, 39);
  --darker:rgb(56, 9, 17);
  --lighter: rgb(201, 84, 129);
  --lighter1: rgb(215, 103, 146);
  --lighter2: rgb(230, 143, 176);
}

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 14px;
}

button {
  padding: 12px 10px;
  font-size: 14px;
  background: var(--primary);
  color: var(--lighter);
}

/*Header*/
.input-group button {
  background: transparent;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
}

.nav-links a {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}
/*..*/
