.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 14px;
}

button {
  padding: 12px 10px;
  font-size: 14px;
  background: pink;
  color: white;
}

/*Header*/
.input-group button {
  background: transparent;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
}
/*..*/
